{% extends "userbase.html" %}
{% block body %}
<div class="container">
  <div class="container1" >
    <!-- <h1>Search</h1> -->
    <form class="d-flex" action="{% url "userhome" %}" method="POST" enctype="multipart/form-data" role="search">
      {% csrf_token %}
      <input class="form-control me-2" type="search" placeholder="Search" name='search' aria-label="Search">
      <input class="form-control me-2" type="hidden" id='latitude' name='latitude'>
      <input class="form-control me-2" type="hidden" id='longitude' name='longitude'>
      <button class=" btn-purple" type="submit">Search</button>
    </form>
  </div>
  </div>
  <div class="d-flex">
  <div>
    
    {{ location_data | json_script:"location_data"}}
  {% for key , value in sorted_location.items %}
  <div class=" m-3 left purple cards">
    <div class="row g-0">
      <div class="col-md-4 top ">
        <img src=".{{value.item_img_url}}" class="img-fluid rounded-start" alt="...">
      </div>

      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title font">{{value.shop_name}}</h5>
          <p class="card-text font">{{key}} km</p>
          {% comment %} <p class="card-text font">{{value.item_id}}</p>
          <p class="card-text font">{{value.shop_id}}</p> {% endcomment %}


          <p class="card-text"><small class="text-body-secondary"></small></p>
          
          <a class="button-purple" href="getroute?item_id={{value.item_id}}&shop_id={{value.shop_id}}"  >view</a>
          {% comment %} <a class="btn btn-primary" onclick="getroute({{value.shop_id}})">Route</a> {% endcomment %}

        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<div id="map2"  class= "map" ></div>
</div>
</div>

<script>
  if ('geolocation' in navigator) {
    // Get the user's current position
    navigator.geolocation.getCurrentPosition(
      function (position) {
        // Success callback
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;

        // Now you have the user's latitude and longitude
        console.log('Latitude:', latitude);
        console.log('Longitude:', longitude);

        // You can use this information as needed, for example, send it to the server.

        var map2 = L.map('map2').setView([latitude, longitude], 11);
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom: 19,
          attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map2);

        var greenIcon = new L.Icon({
          iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
          shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
          iconSize: [25, 41],
          iconAnchor: [12, 41],
          popupAnchor: [1, -34],
          shadowSize: [41, 41]
        });

        L.marker([latitude, longitude], { icon: greenIcon }).addTo(map2)
          .bindPopup('Your Location ');
        let shops = JSON.parse(document.getElementById('location_data').textContent)
        console.log(shops)

        shops.forEach(shop => {
          L.marker([shop.latitude, shop.longitude]).addTo(map2).bindPopup(shop.shop_name)

          // marker.bindPopup(station.name).openPopup();
        });

        var lat = document.getElementById('latitude')
        lat.value = latitude
        var lng = document.getElementById('longitude')
        lng.value = longitude

      })
  }


  function getroute(id) {
    

    fetch(`getroute?shop_id=${id}`)
      .then(response => {
        if (!response.ok) {
          throw new Error("Network response was not ok");
        }
        return response.json();
      })
      .then(data => {
        latitude = data.latitude
        longitude = data.longitude
        
       

      })
      .catch(error => {
        console.error('Error fetching data:', error);
      });
  }

</script>
{% endblock body %}