{% extends "base.html" %}
{% block body %}
{{request.user.username}}


<div class="container_adddetail">
    <div class="card p-4 m-5" style="max-width: 550px;">
        <h1>shop data</h1>
            <form action="{% url "AddShopData" %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <label for="location" class="form-label">Location</label>
            <div id="map" class="m-2 border" style="height:200px ; width:400px;"></div>
            <div class="mt-3">
                <button type="submit" class="btn_btn-primary_signup">Submit</button>
            </div>    
        </form>
    </div>
</div>

<script>
      document.addEventListener('DOMContentLoaded', function() {
        var user = document.getElementById('id_user')
            user.required = false;
        var lat = document.getElementById('id_latitude').value
        var lng = document.getElementById('id_longitude').value

        console.log(lat , lng)
        var marker ;

        var map = L.map('map').setView([lat, lng], 13);
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);
        map.on('click',(event)=>{
            lat = event.latlng.lat
            lng = event.latlng.lng
            if (marker) {
                map.removeLayer(marker);
            }
           marker  =  L.marker([lat,lng]).addTo(map)
            let latitude=document.getElementById("id_latitude").value=lat
            let longitude=document.getElementById("id_longitude").value=lng
    });
});

    </script>
{% endblock body %}