{% extends "base.html" %} {% block body %}
<div class="container_additem">
    <div class="card p-4 m-5" style="max-width: 550px">
        <h1>Add item</h1>
        <form action='{% url "Additem" %}' method="POST" enctype="multipart/form-data">
            {% csrf_token %} {{form.as_p}}
            <div class="mt-3">
                <button type="submit" class="btn_btn-primary_signup">Submit</button>
            </div>
        </form>
    </div>
</div>

<div class="container m-5">
    {% for item in items %}
    <div class="card" style="width: 18rem">
        <img src="{{item.item_image.url}}" class="card-img-right" alt=".{{item.item_image.url}}" />
        <div class="card-body">
            <h5 class="card-title">{{item.item_name}}</h5>
            <h6>Brand : {{item.brand}}</h6>
            <h6>quantity : {{item.quantity}}</h6>
            <form action="{% url "Deleteitem" %}" action="Get">
                {% csrf_token %}
                <input type="text" name="itemId" id="itemId" value="{{item.id}}" hidden />
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var user = document.getElementById("id_shop_id");
        user.required = false;
    });
</script>
<!-- item delete acript  -->
<script>
    function deleteItem(itemId) {
        console.log("button clicked")
        // Send an AJAX request to the server to delete the item
        fetch(`/deleteitem?itemId=${itemId}`, {
            method: 'DELETE',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json'
            },
        })
            .then(response => {
                if (response.ok) {
                    // Reload the page after successful deletion
                    window.location.reload();
                } else {
                    console.error('Failed to delete item');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
</script>

{% endblock body %}