{% extends "base.html" %}   
{% block body    %}
index    {% comment %} <div class="mb-3">
    <label for="shoptype" class="form-label">type</label>
    <input type="text" class="form-control" id="shoptype" name="shoptype" >
</div>
<div class="mb-3">
    <label for="phoneno" class="form-label">Phone no.</label>
    <input type="number" class="form-control" id="phoneno" name="phoneno">
</div>
<label for="location" class="form-label">Location</label>
<div id="map" style="height:200px ; width:400px;"></div>
<input type="hidden" class="form-control" id="latitude" name="latitude">
<input type="hidden" class="form-control" id="longitude" name="longitude">
<div class="mb-3">
    <button type="submit" class="btn btn-primary">Submit</button>
</div>     {% endcomment %}
{% comment %} # shoptype = request.POST.get('shoptype')
# phoneno = request.POST.get('phoneno')
# latitude = request.POST.get('latitude')
# longitude = request.POST.get('longitude')
# print(latitude,longitude)
# shop_exits = model.Shop.objects.filter(user = shop)
# if shop_exits.exists():
#     shop_exits.update(shop_type=shoptype, phone_no=phoneno ,latitude=latitude,longitude=longitude, user = shop)
# else:
#     shop_detils = model.Shop.objects.create(shop_type=shoptype, phone_no=phoneno ,latitude=latitude,longitude=longitude, user = shop)
#     shop_detils.save()
# print(shoptype,phoneno)
# return redirect('home')

# shop = User.objects. {% endcomment %}
{{request.user.username}}
{% endblock body %}