.container_adddetail{
    display: flex;
    justify-content: center;
}
.container_additem{
    display: flex;
    justify-content: center;
}
.btn_btn-primary_signup{
    color: white;
    border: 3px solid #8b30c2;
    background-color: #8b30c2;
    padding: 8px 10px;
    text-decoration: none;
    border-radius: 15px;
    text-align: center;
    transition: background-color 0.3s;
    width: 105px;
}
.welcometitle{
    color: #8b30c2;
    text-align: center;
    font-size: 35px;
}
form p{
    display: flex;
    justify-content: space-between;
}
input[type="file"] {
    background-color:#f0e8f6;
height:50px;
width:500px;
border-radius:13px;
padding: 10px;
}

.productdetail{
    color: #8b30c2;
    text-align: center;
    font-size: 35px;
}
.mt-3{
    display: flex;
    justify-content: center;
}